@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    /*font-size:20px;*/
    background-color: #FFFFFF;
}

.wraper {
    width: 1170px;
    margin: 0 auto;
}

.nopadding {
    padding: 0px;
}

.bg_head {
    background: #34495e;
    padding: 10px;
}

input[type=text] {
    /*width: 100px;*/
    /*-webkit-transition: width 0.4s ease-in-out;*/
    /*transition: width 0.4s ease-in-out;*/
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    /*width: auto;*/
}

.top_link li {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    margin-right: 20px;
    vertical-align: middle;
}

.search1 {
    font-size: 14px;
    padding: 7px;
    border-radius: 4px;
    color: #000;
}

.link li {
    display: inherit;

}

.mrgnrght {
    margin-right: 10px;
}

.top_head {
    color: #fff;
}

.seperate {
    margin-top: 10px;
    margin-bottom: 20px;
}

.box {
    /*box-shadow: 0 0 5px #878787;*/
    padding: 28px;
    text-align: center;
    font-size: 45px;
    color: #fff;
    /*border-radius: 4px;*/
    height: 155px;
}

.home a {
    color: #fff;

}

.home a:hover {
    color: #fff;
    text-decoration: none;
}

.bg1 {
    background: #007cff;
}

.bg2 {
    background: #ff366a;
}

.bg3 {
    background: #4f9132;
}

.bg4 {
    background: #04c7c9;
}

.bg5 {
    background: #3ad305;
}

.bg6 {
    background: #db0db2;
}

.bg7 {
    background: #b7db0d;
}

.bg8 {
    background: #d7c003;
}

.bg9 {
    background: #eb6f0b;
}

.bg10 {
    background: #f64cfc;
}

.bg11 {
    background: #d3af4d;
}

.bg12 {
    background: #940efc;
}

body {
    overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;

}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;

    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #222!Important;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    right: 15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 4px;
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #312A25;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 95px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 60px;
}

#wrapper.toggled {
    padding-right: 60px;
}

#wrapper {
    padding-left: 20px;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 50px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;

}

#wrapper.toggled span {
    visibility: visible;
    position: relative;
    left: 15px;
    bottom: 13px;
    font-size: 16px;
    font-weight: 600;

}

#wrapper.toggled i {
    float: right;
    line-height: 29px;
}

#wrapper i {
    float: right;
}

#page-content-wrapper {
    padding: 5px;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}



/*Scrolling div start*/

.scrollbox
{
    width: 100%;
    height:300px;
    border:solid thin #eee;
    overflow: scroll;
}
/*Scrolling div end*/
.commentbox
{
    border: solid thin #e1e1e1;
    padding: 20px 10px;

}
.commentbox:hover
{
    background: #fff;
    box-shadow: 0 0 2px #000;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .wraper {
        width: 100%;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .wraper {
        width: 100%;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .wraper {
        width: 100%;
        margin: 0 auto;
    }

    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 40px;

    }

    #wrapper.toggled span {
        visibility: hidden;

    }

    #wrapper.toggled i {
        float: right;
        font-size: 24px !important;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .wraper {
        width: 100%;
        margin: 0 auto;
    }

    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right: 60px;
    }

    #wrapper.toggled {
        padding-right: 60px;
    }

    #wrapper {
        padding-left: 20px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 140px;

    }

    #wrapper.toggled span {
        visibility: visible;
        position: relative;
        left: 70px;
        bottom: 13px;

    }

    #wrapper span {
        visibility: hidden;

    }

    #wrapper.toggled i {
        float: right;
    }

    #wrapper i {
        float: right;
    }

    #page-content-wrapper {
        padding: 5px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    .mrgnbtm {
        margin-bottom: 15px;
    }

    .top_head {
        font-size: 21px;
    }

}
.style_prevu_kit
{
    display:inline-block;
    border:0;
    /*width:196px;*/
    /*height:210px;*/
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 10px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}